/******************************BUTTON COMENTARIO*********************************/

.card {
    width: 450px;
    border: none;
    border-radius: 8px
}


.form-control {
    resize: none;
    height: 130px;
    border: 2px solid #eee
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid red
}
/******************************NAVBAR TAPS*********************************/
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 350px;
    margin: 50px auto;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 45px;
    background: #e2e2e2;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}


/******************************************/
