body{
	background-image: url(../img/1.jpg)
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #565758;
	font-family: 'Monserrat', sans-serif;
	font-size: 1.2rem;
	line-height: 1.6em;
}
p{
	margin-bottom: 1.6em;
}
div[class]="col"] {
	border: 1px solid #ffc107;
}
.container{
	margin:auto;
	text-align: center;
}
.container h2{
	padding-bottom: 150px;

}
.container-all{
	width: 85%
	max-width: 850px;
	margin:0 auto;
	padding: 60px;
}
.title{
	font-size: 40px;
	margin-bottom: 60px;
}
.container-all img{
	width: 300px;
	float:left;
	margin-right: 850px;
	margin-bottom: 20px;
}
.contanier.all p{
	font-size: 18px;
	font-weight: 300;
}
